<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/app/forum/components/comment-area/comment-area.css">
</head>
<body>
    <main class="comment-area">
        <section class="comment-area__creation">
            <textarea class="comment-area__text" placeholder="Write a comment..."></textarea>
        </section>

        <container class="comment-area__button-container">
            <button class="comment-area__button">Comment</button>
        </container>
    </main>
</body>
</html>