<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dnd4dummies-pwm/src/app/glossary/components/main-page/main-page.css">
    <title>Document</title>
</head>
<body>
    <main class="main-glossary">
        <article class="glossary-sections">

            <section class="section section--character">

                <container class="section__container">
                    <section class="section__zone section__zone--races">
                        <a href="/dnd4dummies-pwm/src/app/glossary/character-related/races/races.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--races"
                            />
                        </a>
                        <label class="section__label section__label--races">RACES</label>
                    </section>

                    <section class="section__zone section__zone--classes">
                        <a href="/dnd4dummies-pwm/src/app/glossary/character-related/classes/classes.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--classes"
                            />
                        </a>
                        <label class="section__label section__label--classes">CLASSES</label>
                    </section>

                    <section class="section__zone section__zone--alignments">
                        <a href="/dnd4dummies-pwm/src/app/glossary/character-related/alignments/alignments.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--alignments"
                            />
                        </a>
                        <label class="section__label section__label--alignments">ALIGNMENTS</label>
                    </section>

                    <section class="section__zone section__zone--kyr">
                        <a href="/dnd4dummies-pwm/src/app/glossary/character-related/know-your-rolls/know-your-rolls.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--kyr"
                            />
                        </a>
                        <label class="section__label section__label--kyr">KNOW YOUR ROLLS</label>
                    </section>
                </container>
                
                
            </section>

            <section class="section section--interaction">

                <container class="section__container">
                    <section class="section__zone section__zone--weapons">
                        <a href="/dnd4dummies-pwm/src/app/glossary/interaction-related/weapons/weapons.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--weapons"
                            />
                        </a>
                        <label class="section__label section__label--weapons">WEAPONS</label>
                    </section>

                    <section class="section__zone section__zone--spells">
                        <a href="/dnd4dummies-pwm/src/app/glossary/interaction-related/spells/spells.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--spells"
                            />
                        </a>
                        <label class="section__label section__label--spells">SPELLS</label>
                    </section>

                    <section class="section__zone section__zone--combat-gear">
                        <a href="/dnd4dummies-pwm/src/app/glossary/interaction-related/combat-gear/combat-gear.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--combat-gear"
                            />
                        </a>
                        <label class="section__label section__label--combat-gear">COMBAT GEAR</label>
                    </section>

                    <section class="section__zone section__zone--combat">
                        <a href="/dnd4dummies-pwm/src/app/glossary/interaction-related/combat/combat.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--combat"
                            />
                        </a>
                        <label class="section__label section__label--combat">COMBAT</label>
                    </section>

                </container>
                
                
            </section>

            <section class="section section--adventure">

                <container class="section__container">
                    <section class="section__zone section__zone--adventure">
                        <a href="/dnd4dummies-pwm/src/app/glossary/adventure-related/adventure/adventure.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--adventure"
                            />
                        </a>
                        <label class="section__label section__label--adventure">ADVENTURE</label>
                    </section>

                    <section class="section__zone section__zone--tools">
                        <a href="/dnd4dummies-pwm/src/app/glossary/adventure-related/tools-section/tools.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--tools"
                            />
                        </a>
                        <label class="section__label section__label--tools">TOOLS</label>
                    </section>

                    <section class="section__zone section__zone--adventuring-gear">
                        <a href="/dnd4dummies-pwm/src/app/glossary/adventure-related/adventuring-gear/adventuring-gear.html" class="section__action">
                            <img
                                src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png"
                                class="section__img section__img--adventuring-gear"
                            />
                        </a>
                        <label class="section__label section__label--adventuring-gear">ADVENTURING GEAR</label>
                    </section>

                </container>
                
                
            </section>

        </article>
    </main>
</body>
</html>