* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.glossary-sections{
    display: flex;
    flex-direction: column;

    background-image: url('/dnd4dummies-pwm/src/assets/images/dice_background_red.png');
    background-repeat: repeat;
    background-size: 50em;

}

.section {
    margin: 1em 0;
    background-size: contain;
    width: 100%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section__container {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px) brightness(0.6);
  }

.section__zone {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__action {
    align-self: center;
    width: 50%;
    height: 50%;
}

.section__img {
    width: 100%;
    height: 100%;
}

.section__label {
    color: white;
    font-weight: 700;

    text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000,
               2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    top: .5em;

    font-size: 110%;

}

a{
    text-decoration: none;
}

.section--character {
    justify-content: flex-end;
    background-image: url('/dnd4dummies-pwm/src/assets/images/magic-forest1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.section--interaction {
    justify-content: flex-start;
    background-image: url('/dnd4dummies-pwm/src/assets/images/red-forest.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.section--adventure {
    justify-content: flex-end;
    background-image: url('/dnd4dummies-pwm/src/assets/images/magic-forest2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .section__label {
        font-size: 90%;
    
    }
}

@media screen and (max-width: 604px) {
    .section__label {
        font-size: 50%;
    
    }

    .glossary-sections{
        height: 90vh;
    }
}
