* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.glossary-sections{
    display: flex;
    flex-direction: column;
    background-color: #1C3C47;
}

.section {
    margin: 1em 0;
    background-size: contain;
    width: 100%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section__container {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px) brightness(0.6);
  }

.section__zone {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.section__action {
    align-self: center;
    width: 50%;
    height: 50%;
}

.section__img {
    align-self: center;
    width: 100%;
    height: 100%;
}

.section__label {
    position: absolute;

    font-size: 1.5em;
    color: white;
    font-weight: 700;
    top: 15%;
    left: 22%;
    padding: .2em;
}


.section--character {
    justify-content: flex-end;
    background-image: url('/src/assets/images/magic-forest1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.section--interaction {
    justify-content: flex-start;
    background-image: url('/src/assets/images/red-forest.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.section--adventure {
    justify-content: flex-end;
    background-image: url('/src/assets/images/magic-forest2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
