<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Stats</title>
</head>
<body>
  <main class="stats-container">
    <article class="stats">
      <p class="place-name">Stats</p>

      <section class="statMod-value">

        <p class="caption-Strength">Strength</p>
        <p class="StrengthMod-value">0</p>
  
        <section class="stat-value">
          <p class="Strength-value">0</p>
        </section>
  
      </section>
      
      <section class="statMod-value">
        <p class="caption-Wisdom">Wisdom</p>
        <p class="WisdomMod-value">0</p>
        
        <section class="stat-value">
          <p class="Wisdom-value">0</p>
        </section>
  
      </section>
  
      <section class="statMod-value">
        <p class="caption-Charisma">Charisma</p>
        <p class="CharismaMod-value">0</p>
        
        <section class="stat-value">
          <p class="Charisma-value">0</p>
        </section>
  
      </section>
      
      <section class="statMod-value">
        <p class="caption-Intelligence">Intelligence</p>
        <p class="IntelligenceMod-value">0</p>

        <section class="stat-value">
          <p class="Intelligence-value">0</p>
        </section>
  
      </section>
      
      <section class="statMod-value">
        <p class="caption-Constitution">Constitution</p>
        <p class="ConstitutionMod-value">0</p>

        <section class="stat-value">
          <p class="Constitution-value">0</p>
        </section>
  
      </section>
      
      <section class="statMod-value">
        <p class="caption-Dexterity">Dexterity</p>
        <p class="DexterityMod-value">0</p>

        <section class="stat-value">
          <p class="Dexterity-value">0</p>
        </section>
      </section>
    </article>
  </main>
</body>
</html>