<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="stats-container">
    <article class="stats">
      <section class="stat-Strength">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
          class="backgroundOne-Strength"
        />
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
          class="backgroundTwo-Strength"
        />
        <figcaption class="caption-Strength">Strength</figcaption>
        <p id="Strength-value"></p>
      </section>
      
      <section class="stat-Wisdom">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
            class="backgroundOne-Wisdom"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
            class="backgroundTwo-Wisdom"
          />
          <figcaption class="caption-Wisdom">Wisdom</figcaption>
          <p id="Wisdom-value"></p>
      </section>
  
      <section class="stat-Charisma">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
            class="backgroundOne-Charisma"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
            class="backgroundTwo-Charisma"
          />
          <figcaption class="caption-Charisma">Charisma</figcaption>
          <p id="Charisma-value"></p>
      </section>
      
      <section class="stat-Intelligence">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
            class="backgroundOne-Intelligence"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
            class="backgroundTwo-Intelligence"
          />
          <figcaption class="caption-Intelligence">Intelligence</figcaption>
          <p id="Intelligence-value"></p>
      </section>
      
      <section class="stat-Constitution">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
            class="backgroundOne-Constitution"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
            class="backgroundTwo-Constitution"
          />
          <figcaption class="caption-Constitution">Constitution</figcaption>
          <p id="Constitution-value"></p>
      </section>
      
      <section class="stat-Dexterity">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
            class="backgroundOne-Dexterity"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
            class="backgroundTwo-Dexterity"
          />
          <figcaption class="caption-Dexterity">Dexterity</figcaption>
          <p id="Dexterity-value"></p>
      </section>
    </article>
  </main>
</body>
</html>