<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Stats</title>
</head>
<body>
  <main id="stats-container">
    <article id="stats">
      <p class="place-name">Stats</p>

      <section class="statMod-value">
        <p id="caption-Strength">Strength</p>
        <p id="StrengthMod-value">0</p>
  
        <section class="stat-value">
          <p id="Strength-value">0</p>
        </section>
  
      </section>
      
      <section class="statMod-value">
        <p id="caption-Wisdom">Wisdom</p>
        <p id="WisdomMod-value">0</p>
        
        <section class="stat-value">
          <p id="Wisdom-value">0</p>
        </section>
  
      </section>
  
      <section class="statMod-value">
        <p id="caption-Charisma">Charisma</p>
        <p id="CharismaMod-value">0</p>
        
        <section class="stat-value">
          <p id="Charisma-value">0</p>
        </section>
  
      </section>
      
      <section class="statMod-value">
        <p id="caption-Intelligence">Intelligence</p>
        <p id="IntelligenceMod-value">0</p>

        <section class="stat-value">
          <p id="Intelligence-value">0</p>
        </section>
  
      </section>
      
      <section class="statMod-value">
        <p id="caption-Constitution">Constitution</p>
        <p id="ConstitutionMod-value">0</p>

        <section class="stat-value">
          <p id="Constitution-value">0</p>
        </section>
  
      </section>
      
      <section class="statMod-value">
        <p id="caption-Dexterity">Dexterity</p>
        <p id="DexterityMod-value">0</p>

        <section class="stat-value">
          <p id="Dexterity-value">0</p>
        </section>
      </section>
    </article>
  </main>
</body>
</html>