<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Card</title>

    <script src="/src/scripts/xlu-include-file.js"></script>
</head>
<body>
    <figure id="character-background">
        <img src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/1fd8276d-9fc3-49c5-85a8-2e176a079fe6?org_if_sml=1491&amp;force_format=original">
    </figure>

    <header id="character-banner">
        <h1 id="character-name">CHARACTER NAME</h1>
    </header>

    <main>
        <section id="level-section">
            <p id="level-caption">LEVEL</p>
            <p id="level-value">0</p>
        </section>
    
        <article id="basic-info">
            <section class="info">
                <p id="race-caption">Race</p>
                <hr>

            </section>

            <section class="info">
                <p id="class-caption">Class</p>
                <hr>

            </section>
        </article>
    
        <article id="saving-throws" xlu-include-file="/src/templates/card-stats.html"></article>
    </main>

    <script>

        xLuIncludeFile();
    
    </script>

</body>
</html>

