<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Loader</title>

    <script src="/src/scripts/fetch-simple.js"></script>
</head>
<body>
    <main class="card-content">
        <ul>
            <li class="card-content__character-card"></li> 
        </ul>`

    </main>

    <script>
        
        loadTemplate('/src/templates/character-card.html', ".card-content__character-card")
        
    </script>
</body>
</html>