<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informative Section</title>

    <script src="/src/scripts/xlu-include-file.js"></script>
</head>
<body>
    <section id="banner_section">
        <figure id="main_banner">
            <img>
            <figcaption>Title of the section</figcaption>
        </figure>

        <img>
    </section>

    <section id="main_content">
        <ul>
            <li xlu-include-file="/src/templates/descriptive-wiki-element.html"></li>
            <li xlu-include-file="/src/templates/descriptive-wiki-element.html"></li>
            <li xlu-include-file="/src/templates/descriptive-wiki-element.html"></li>
            <li xlu-include-file="/src/templates/descriptive-wiki-element.html"></li>
        </ul>
        
    </section>

<script>

    xLuIncludeFile();

</script>

</body>
</html>