<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informative Section</title>
    <link rel="stylesheet" href="/src/templates/css/descriptive-glossary.css">

    <script src="/src/scripts/xlu-include-file.js"></script>
</head>
<body>
    <main class="main-page">

        <section class="banner">
            <img class="banner__image" src="/src/images/horizontal-wallpaper.jpg">
            <p class="banner__hover-text">Lorem ipsum</p>
            <hr class="banner__separator">
        </section>
    
        <section class="elements-section">
            <ul class="elements-section__list">
                <li class="elements-section__entry elements-section__entry--entry-1" xlu-include-file="/src/templates/descriptive-glossary-element.html"></li>
                <li class="elements-section__entry elements-section__entry--entry-2" xlu-include-file="/src/templates/descriptive-glossary-element.html"></li>
            </ul>
        </section>

    </section>

<script>

    xLuIncludeFile();

</script>

</body>
</html>