<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descriptive Glossary Element</title>
</head>
<body>
    <main class="glossary-element">
        <img class="glossary-element__image" src="" alt="">
        <h1 class="glossary-element__name">Lorem ipsum</h1>
        <p class="glossary-element__description">Short description.</p>
        <section >
            <a class="glossary-element__link" href="">
                <button class="glossary-element__button">SEE MORE</button>
            </a>
        </section>
        
    </main>
    
</body>
</html>