<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>

    <section class="about_us_section">
        <h1>About us</h1>
        <div class="text-with-border">
            <p>D&D For Dummies is a web app.</p>
        </div>
    </section>

    <section class="follow_us_section">
        <h2>Follow us</h2>
        <ul>
            <li>
                <img>
                <a href="https://www.github.com">GitHub</a>
            </li>
            <li>
                <img>
                <a href="https://www.linkedin.com">LinkedIn</a>
            </li>
            <li>
                <img>
                <a href="https://www.x.com">X</a>
            </li>
            <li>
                <img>
                <a href="https://www.instagram.com">Instagram</a>
            </li>
        </ul>
    </section>

</body>
</html>