<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/templates/css/header.css">
    <title>Header</title>
</head>
<body>
    <main class="main-container">
        <section class="upper-bar">
            <div class="upper-bar__main-logo">
                <a class="upper-bar__main-logo-action"  href="/src/index.html">
                    <img class="upper-bar_main-logo-image" src="/src/images/logo.png" alt="Logo">
                </a>
            </div>
            
    
            <h1 class="upper-bar__title">D&D FOR DUMMIES</h1>
            
            
            <div class="upper-bar__login">
                <a class="upper-bar__login-logo-action" href="/src/login-popup.html">
                    <img class="upper-bar__login-logo-image" src="/src/images/login.png" alt="Login">
                </a>
            </div>

        </section>

        <section class="lower-bar">
            <nav class="main-menu">

                <ul class="main-menu__options main-menu__options--general">
    
                    <li class="main-menu__link main-menu__link--glossary">
                        <a class="main-menu__label main-menu__label--glossary" href="/src/glossary/index.html">Glossary &#x25BE</a>
                        
                        <ul class="main-menu__options main-menu__options--glossary">
                            <li class="main-menu__glossary-section"><a href="/src/glossary/character-related/races.html">Races</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/character-related/classes.html">Classes</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/character-related/alignments.html">Alignments</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/character-related/know-your-rolls.html">Know your rolls</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/interaction-related/weapons.html">Weapons</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/interaction-related/spells.html">Spells</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/interaction-related/combat-gear.html">Combat Gear</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/interaction-related/combat.html">Combat</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/adventure-related/adventure.html">Adventure</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/adventure-related/adventure.html">Tools</a></li>
                            <li class="main-menu__glossary-section"><a href="/src/glossary/adventure-related/adventure.html">Adventuring Gear</a></li>
                        </ul>
                    </li>
    
                    <li class="main-menu__link"><a class="main-menu__label" href="/src/character-creator/character-creator.html">Character Creator</a></li>
    
                    <li class="main-menu__link"><a class="main-menu__label" href="/src/forum/index.html">Forum</a></li>
    
                </ul>
    
            </nav>
            
            <div class="main-menu__search-bar">
                <form class="main-menu__search-bar-form" action="/" method="GET">
                    <input class="main-menu__search-bar-input" type="search" name="query" placeholder="Search...">
                    <button class="main-menu__search-button">
                        <img src="/src/images/search.png" alt="">
                    </button>
                </form>
            </div>

        </section>
        
    </main>
    
   
</body>
</html>