<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <main>
        <section>
            <a href="../index.html">
                <img src="../images/logo.png" alt="Inicio">
            </a>
            <h1>D&D FOR DUMMIES</h1>
            <a href="../login.html">
                <img src="../images/login.png" alt="Inicio">
            </a>
        </section>
        <nav>
            <ul>
                <li>
                    <img>
                    Wiki
                    <ul>
                        <li><a href="../races.html">Races</a></li>
                        <li><a href="../classes.html">Classes</a></li>
                        <li><a href="../alignments.html">Alignments</a></li>
                        <li><a href="../know-your-rolls.html">Know your rolls</a></li>
                        <li><a href="../weapons.html">Weapons</a></li>
                        <li><a href="../spells.html">Spells</a></li>
                        <li><a href="../objects.html">Objects</a></li>
                        <li><a href="../adventure.html">Adventure</a></li>
                        <li><a href="../combat.html">Combat</a></li>
                    </ul>
                </li>
                <li><a href="../character-creator.html">Character Creator</a></li>
                <li><a href="../forum.html">Forum</a></li>
                <li>
                    <form action="/search" method="get">
                        <input type="search" name="query" placeholder="Buscar...">
                        <input type="submit" value="Buscar">
                    </form>
                </li>
            </ul>
        </nav>
    </main>
</body>
</html>