<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informative Section</title>
    <link rel="stylesheet" href="/src/templates/css/informative-glossary.css">

    <script src="/src/scripts/xlu-include-file.js"></script>
</head>
<body>
    <main class="main-page">

        <section class="banner">
            <img class="banner__image" src="/src/images/horizontal-wallpaper.jpg">
            <p class="banner__hover-text">Lorem ipsum</p>
            <hr class="banner__separator">
        </section>
    
        <section class="information-section">
            <h1 class="information-section__title">Title</h1>
            <p class="information-section__text">Text</p>
            <img class="information-section__image" src="" alt="">
        </section>

    </main>

<script>

    xLuIncludeFile();

</script>

</body>
</html>