<head>
    <link href="./home.css" rel="stylesheet" />
</head>
    <main class="stats-container">
      <article class="stats">
        <section class="stat-one">
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
            class="rectangle-one"
          />
          <img
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
            class="circle-one"
          />
          <figcaption class="caption-one">Strength</figcaption>
        </section>
        
        <section class="stat-two">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
              class="rectangle-two"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
              class="circle-two"
            />
            <figcaption class="caption-two">Wisdom</figcaption>
        </section>

        <section class="stat-three">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
              class="rectangle-three"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
              class="circle-three"
            />
            <figcaption class="caption-three">Charisma</figcaption>
        </section>
        
          <section class="stat-four">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
              class="rectangle-four"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
              class="circle-four"
            />
            <figcaption class="caption-four">Intelligence</figcaption>
        </section>
        
          <section class="stat-five">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
              class="rectangle-five"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
              class="circle-five"
            />
            <figcaption class="caption-five">Constitution</figcaption>
        </section>
        
          <section class="stat-six">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
              class="rectangle-six"
            />
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/dc42fe5a-f8af-4b2b-87dd-c839192de814?org_if_sml=1305&amp;force_format=original"
              class="circle-six"
            />
            <figcaption class="caption-six">Dexterity</figcaption>
        </section>
    </article>
</main>