<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main id="stats-container">
    <article id="stats">
      <section class="stat-StrengthMod">
        <p id="caption-StrengthMod">Strength</figcaption>
        <p id="StrengthMod-value"></p>
        
      </section>
  
      <section class="statMod-value">
        <p id="caption-WisdomMod">Wisdom</figcaption>
        <p id="WisdomMod-value"></p>
        
      </section>
      
      <section class="statMod-value">
        <p id="caption-CharismaMod">Charisma</figcaption>
        <p id="CharismaMod-value"></p>
        
      </section>
  
      <section class="statMod-value">
        <p id="caption-IntelligenceMod">Intelligence</figcaption>
        <p id="IntelligenceMod-value"></p>
        
      </section>
      
      <section class="statMod-value">
        <p id="caption-ConstitutionMod">Constitution</figcaption>
        <p id="ConstitutionMod-value"></p>
        
      </section>
      
      <section class="statMod-value">
        <p id="caption-DexterityMod">Dexterity</figcaption>
        <p id="DexterityMod-value"></p>
        
      </section>
    </article>
  </main>
</body>
</html>
