<main class="stats-container">
  <article class="stats">
    <section class="stat-StrengthMod">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
        class="background-StrengthMod"
      />
      <figcaption class="caption-StrengthMod">Strength</figcaption>
      <p id="StrengthMod-value"></p>
    </section>
    
    <section class="stat-WisdomMod">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
          class="background-WisdomMod"
        />
        <figcaption class="caption-WisdomMod">Wisdom</figcaption>
        <p id="WisdomMod-value"></p>
    </section>

    <section class="stat-CharismaMod">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
          class="background-CharismaMod"
        />
        <figcaption class="caption-CharismaMod">Charisma</figcaption>
        <p id="CharismaMod-value"></p>
    </section>
    
    <section class="stat-IntelligenceMod">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
          class="background-IntelligenceMod"
        />
        <figcaption class="caption-IntelligenceMod">Intelligence</figcaption>
        <p id="IntelligenceMod-value"></p>
    </section>
    
    <section class="stat-ConstitutionMod">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
          class="background-ConstitutionMod"
        />
        <figcaption class="caption-ConstitutionMod">Constitution</figcaption>
        <p id="ConstitutionMod-value"></p>
    </section>
    
    <section class="stat-DexterityMod">
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/c378361e-7f8e-4f09-b497-d843c9dd5f1d/92c10a97-05b4-4f25-a804-a5ec0aa05316?org_if_sml=1172&amp;force_format=original"
          class="background-DexterityMod"
        />
        <figcaption class="caption-DexterityMod">Dexterity</figcaption>
        <p id="DexterityMod-value"></p>
    </section>
  </article>
</main>