<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section Card</title>
    <script src="xlu-include-file.js"></script>
</head>
<body>

    <header class="card-header">
        <h1 class="card-header__label">LOREM IPSUM</h1>
    </header>

    <main class="card-content">

        <section class="card-content__graphic-section">
            <figure>
                <img class="card-content__image" src="" alt="">
                <hr>
            </figure class="card-content__separator">
        </section>

        <section class="card-content__features-section">
            
            <h2 class="card-content__features-label">Features</h2>
            <ul>
                <li class="card-content__feature-1" xlu-include-file="/src/templates/section-card-feature.html"></li>
                <li class="card-content__feature-2" xlu-include-file="/src/templates/section-card-feature.html"></li>
            </ul>

        </section>

        <hr class="card-content__separator">

        <div class="decorative-lower-bar"></div>
    </main>
    

<script>

    xLuIncludeFile();

</script>

</body>
</html>