<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section Card Feature</title>
</head>
<body>
    <main class="feature">
        <container class="feature__header">
            <h1 class="feature__name">Lorem ipsum &#x25BE</h1>
        </container>
        <p class="feature__description">Lorem ipsum dolor sit. 
            Lorem ipsum dolor sit.Lorem 
            ipsum dolor sit.Lorem ipsum 
            dolor sit.Lorem ipsum dolor si
            t.Lorem ipsum dolor sit.Lorem ipsum
             dolor sit.Lorem ipsum dolor sit.Lorem ip
             sum dolor sit.Lorem ipsum dolor sit.Lorem ipsum
              dolor sit.
            Lorem ipsum dolor sit.Lorem ipsum dolor sit.</p>
    </main>
</body>
</html>