<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section Card Feature</title>
</head>
<body>
    <main class="feature">
        <header class="feature__header">
            <h1 class="feature__name">Lorem ipsum</h1>
            <img class="feature__expand-icon" src="/src/images/expand.png">
        </header>
        <p class="feature__description">Lorem ipsum dolor sit.</p>
    </main>
</body>
</html>