<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section Card</title>
    <script src="xlu-include-file.js"></script>
</head>
<body>
    <header>
        <h1>LOREM IPSUM</h1>
    </header>
    <main>
        <section>
            <figure>
                <img src="" alt="">
                <hr>
            </figure>
        </section>

        <article>
            
            <h2>List of related things</h2>
            <ul>
                <li xlu-include-file="/src/templates/section-card-feature.html"></li>
                <li xlu-include-file="/src/templates/section-card-feature.html"></li>
            </ul>

        </article>
        <hr>
    </main>
    <footer>
    </footer>

<script>

    xLuIncludeFile();

</script>

</body>
</html>