<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Display</title>
    <link rel="stylesheet" href="/src/templates/css/topic-display.css">
</head>
<body>
    <main class="topic-display">
        
        <section class="topic-display__info">
            <p class="topic-display__name">Lorem ipsum</p>
            <time class="topic-display__date">Publish date</time>
            <container class="topic-display__image-container">
                <img class="topic-display__profile-pic" src="/src/images/image.png" alt="">
            </container>
            
            <p class="topic-display__author">Author</p>
        </section>
        
        <section class="topic-display__text-container">
            <textarea class="topic-display__text"></textarea>
        </section>

    </main>
    
</body>
</html>