<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Display</title>
</head>
<body>
    <main class="topic-display">
        
        <section class="topic-display__info">
            <p class="topic-display__name">Lorem ipsum</p>
            <time class="topic-display__date">Publish date</time>
            <img class="topic-display__profile-pic" src="" alt="">
            <p class="topic-display__author">Author</p>
        </section>
        
        <section class="topic-display__text-container">
            <p class="topic-display__text">Topic text</p>
        </section>

    </main>
    
</body>
</html>