<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Display</title>
</head>
<body>
    <article>
        
        <section id="topic-info">
            <p id="topic-name">Lorem ipsum</p>
            <time>Publish date</time>
            <img id="profile-pic" src="" alt="">
            <p id="author">Author</p>
        </section>
        
        <section id="topic-text">
            <p>Topic text</p>
        </section>

    </article>
    
</body>
</html>