<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descriptive Glossary Element</title>
    <link rel="stylesheet" href="/dnd4dummies-pwm/src/app/glossary/components/descriptive-glossary-element/descriptive-glossary-element.css">
</head>
<body>
    <main class="glossary-element">
        <div class="glossary-element__image-container"> 
            <h1 class="glossary-element__name">Lorem ipsum</h1>

            <img class="glossary-element__image" src="/dnd4dummies-pwm/src/assets/images/placeholder-section.png" alt="">
            
            <p class="glossary-element__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

            <div class="glossary-element__button-container">
                <a class="glossary-element__link" href="/dnd4dummies-pwm/src/app/glossary/components/section-card/section-card.html">
                    <button class="glossary-element__button">SEE MORE</button>
                </a>
            </div>
        </div>
        
    </main>
    
</body>
</html>