<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descriptive Glossary Element</title>
    <link rel="stylesheet" href="/src/app/glossary/components/descriptive-glossary-element/descriptive-glossary-element.css">
</head>
<body>
    <main class="glossary-element">

        <div class="glossary-element__image-container">
            <img class="glossary-element__image" src="/src/assets/images/image.png" alt="">
        </div>
        
        <div class="glossary-element__short-info">
            <h1 class="glossary-element__name">Lorem ipsum</h1>
            <p class="glossary-element__description">Short description.</p>
        </div>

        <div class="glossary-element__button-container">
            <a class="glossary-element__link" href="/src/app/glossary/components/section-card/section-card.html">
                <button class="glossary-element__button">SEE MORE</button>
            </a>
        </div>
        
    </main>
    
</body>
</html>