.background-signup{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #1C3C47;
    color: #c9c5c5;


    font-size: 140%;

    padding-left: 7em;
}

.main-signup{
    display: grid;

    grid-template-rows: auto auto auto;
    grid-template-columns:  25em 25em;
    color: #c9c5c5;
    
    margin-top: 4em;
    margin-bottom: 4em;

}

.main-signup__title{
    display:flex;
    align-items: center;
    justify-content: center;

    grid-column: 1;
    grid-row: 1;

    position: relative;
    bottom: .7em;
}

.user-info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 1;
    grid-row: 2;

}

.parameter{
    display: flex;
    flex-direction: column;
    
}

.parameter__text{
    background-color: #333;
    color: #c9c5c5;

    font-size: 100%;
}

.parameter__text--birth-date::-webkit-calendar-picker-indicator {
    display: none;
}

.parameter__age-warning{
    position: relative;
    top: .1em;
}

.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;

}

.user-profile__img{
    width: 12em;
    height: 12em;

    border: .12em solid black;
    border-radius: .5em;
    box-shadow: .6em .6em .1em rgba(0,0,0,0.5);
}

.user-profile__button{
    position: relative;
    left: 6em;
    bottom: .74em;

    background-color: #333;
    border: none;
    border-radius: .3em;
    box-shadow: .3em .3em .1em rgba(0,0,0,0.5);

    transition-duration: 0.4s;
    cursor: pointer;

    color:#c9c5c5;
    padding: .1em;

    width: 5em;
    height: 1.5em;

    font-size: 80%;
}

.user-profile__button:hover {
    background-color: rgb(31, 30, 30)
}

.persistence{
    grid-column: 1;
    grid-row: 3;

    display: flex;
    align-self: flex-end;
    justify-self: center;

    position: relative;
    top: 1em;
}

.persistence__button{

    background-color: #333;
    border: none;
    border-radius: .1em;
    box-shadow: .3em .3em .1em rgba(0,0,0,0.5);

    transition-duration: 0.4s;
    cursor: pointer;

    color:#c9c5c5;
    padding: .1em;

    font-size: 1.5em;

    width: 5em;
    height: 1.5em;
}

.persistence__button:hover{
    background-color: rgb(31, 30, 30)
}

.warnings{
    grid-row: 3;
    grid-column: 1;
}