*{
    margin: 0;
    padding: 0;
    
    font-family: 'Arial', sans-serif;
}

.main-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #767272;
    
    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    height: 3em;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.izquierda{
  display: flex;
  align-items: center;
}

.main-container-header img {
  padding: 1em; 
  width: 2.2em;
  height: 2.2em; 
}

.upper-bar__title{
  font-size: 150%;
}

nav{
    z-index: 9999;
    height: 2.5em;

    position: relative;
    left: 1.5em;
    top: .1em;
}

.menu-horizontal{
	list-style-type: none;
	display: flex;
}

.menu-horizontal > li > a{
	display: block;
	padding: .6em;
	color: black;
	text-decoration: none;
}

.menu-horizontal > li:hover{
	background-color: rgb(190, 29, 29);
    height: 2.45em;
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 10em;
    
	background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
  background-size: 200% auto;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}

.menu-vertical li:hover{
	background-color: rgb(190, 29, 29);
}

.menu-vertical li a{
	display: block;
	color: black;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

.hamburger{
  display: none;
}

@media screen and (max-width: 768px){
  .main-menu{
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;

  }

  .menu-horizontal{
    display: block;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 1em;
    padding-top: 2em;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

    height: 100%;

    border-radius: 0 0 0 1em;
  }

  .menu-horizontal li a {
    color: #ecececec;
  }

  .menu-vertical{
    display: block;
    list-style: none;
    width: 10em;
      
    background: none;
  }

  .elemento-lista{
    position: relative;
    top: 34em;
  }
}

.login-popup-container{
    position: fixed;
    top: 0;
    left: 35vw;
    z-index: 9999;
}