*{
    margin: 0;
    padding: 0;
    
    font-family: 'Arial', sans-serif;
}

.main-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #767272;
    
    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;

    height: 3em;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.izquierda{
  display: flex;
  align-items: center;
}

.main-container-header img {
  padding: 1em; 
  width: 2.2em;
  height: 2.2em; 
}

.upper-bar__title{
  font-size: 150%;
}

.main-menu{
    z-index: 9999;
    height: 2.5em;

    position: relative;
    left: 1.5em;
    top: .1em;
}

.menu-horizontal{
	list-style-type: none;
	display: flex;
}

.menu-horizontal > li > a{
	display: block;
	padding: .6em;
	color: black;
	text-decoration: none;
}

.menu-horizontal > li:hover{
	background-color: rgb(190, 29, 29);
  height: 2.2em;
  border-radius: .5em;
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 10em;
    
	background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
  background-size: 200% auto;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}

.menu-vertical li:hover{
	background-color: rgb(190, 29, 29);
}

.menu-vertical li a{
	display: block;
	color: black;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

.hamburger{
  display: none;
}

.side-bar{
  display: none;
}

@media screen and (max-width: 768px){
  .main-menu, .upper-bar__login-logo-image{
    display: none;
  }

  .hamburger{
    display: block;
    cursor: pointer;
  }
  
  .exit{
    max-width: 1.5em;
    max-height: 1.5em;

    cursor: pointer;
  }

  .side-bar__login-logo-image{
    max-width: 2em;
    max-height: 2em;

    position: relative;
    bottom: .2em;

    cursor: pointer;
  }

  .side-bar{
    visibility: hidden;
    opacity: 0;

    z-index: 9999;

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;

    border-radius: 0 0 0 1em;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    
    padding: 1em;
    gap: .5em;

    font-size: 120%;

    height: 100%;
    
    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;
  }

  .visible{
    visibility: visible;
    opacity: 1;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
  }

  .side-bar__login{
    display: flex;
    justify-content: space-between;
  }

  .side-bar__menu-horizontal{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: .5em;

    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: .5em;
  }
  
  .side-bar__menu-horizontal > li > a{
    display: block;
    color: #000000;
    text-decoration: none;
  }

  .side-bar__menu-vertical{
    list-style: none;
    text-decoration: none;

    padding-left: 1em;
    gap: 1em;
  }

  .side-bar__menu-vertical > li > a{
    display: block;
    color: #000000;
    text-decoration: none;
  }
  
}

.login-popup-container{
    position: fixed;
    top: 0;
    left: 35vw;
    z-index: 9999;
}