.main-page {
    background-image: url('/src/assets/images/dice_background_green-blue.png');
    background-repeat: repeat;
    background-size: 50em;
  }
  
  .banner {
    position: relative;
    padding-top: 1em;
    width: 100%;
    height: 50%;
  }
  
  .banner__image {
    width: 100%;
    height: 20em;
    object-fit: cover;
    transition: filter 0.5s ease;
    filter: blur(3px) brightness(0.6);
  }
  
  .banner__hover-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
  
    color: #F1DBD2;
  
    text-shadow: 3px 0 #000000, -3px 0 #000000, 0 3px #000000, 0 -3px #000000,
    2px 2px #000000, -2px -2px #000000, 2px -2px #000000, -2px 2px #000000;
  }
  
  .banner__separator {
    width: 98%;
    border: 1px solid white;
    opacity: 0.5;
  }
  
  .information-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 10em;
  }
  
  .information-section__text-container{
    background-color: #1C3C47;
    color: #F1DBD2;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    column-gap: 3em;
    row-gap: 3em;
    padding: 2em;
  
    text-align: justify;
  
    border-radius: 1em;
    border: .1em solid black;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 1);
  }
  
  .information-section__figure{
    grid-column-start: 1;
    grid-column-end: 3;
  
    grid-row: 3;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .information-section__image{
    max-width: 90%;
  
    border-radius: 1em;
    border: .1em solid black;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 1);
  }

  .information-section__field-content{
    padding-top: 1em;
  }
  
  @media screen and (max-width: 1078px){
    .banner__hover-text{
      font-size: 200%;
    }
    .information-section-container{
      padding: 2em;
    }
    .information-section__text-container{
      text-align: left;
      width: 90%;
    }

  }

  @media screen and (max-width: 582px){
    .banner__hover-text{
      font-size: 200%;
    }

    .information-section-container{
      padding: 2em;
    }

    .information-section__text-container{
      text-align: left;
      grid-template-columns: 1fr;
      width: 80%;
    }

    .information-section__figure{
      grid-row: 1;
      grid-column: auto;
    }

  }