<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section Card</title>
    <link rel="stylesheet" href="/dnd4dummies-pwm/src/app/glossary/components/section-card/section-card.css">
    <link rel="icon" href="/dnd4dummies-pwm/src/assets/images/logo.png" type="image/x-icon">
</head>
<body>

    <main class="main-card">
        <header class="card-header">
            <h1 class="card-header__label">LOREM IPSUM</h1>
            <div class="card-header__close">
                <span class="card-header__close-icon">X</span>
            </div>
            
        </header>
    
        <section class="card-content">
    
            <container class="card-content__image-container">
                <img class="card-content__image" src="/dnd4dummies-pwm/src/assets/images/horizontal-wallpaper.jpg" alt="">
            </container>
            <hr class="card-content__separator">
    
            <section class="card-content__features-section">
                
                <h2 class="card-content__features-label">Features</h2>

                <ul class="card-content__list">
                </ul>
    
            </section>
    
            <hr class="card-content__separator">
            
        </section>
        
        <footer class="decorative-lower-bar"></footer>
    </main>

</body>
</html>