<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informative Section</title>
    <link rel="stylesheet" href="/src/app/glossary/components/descriptive-glossary/descriptive-glossary.css">
    
</head>
<body>
    <main class="main-page">

        <section class="banner">
            <hr class="top-banner__separator">
            <img class="banner__image" src="/src/assets/images/ruins.png">
            <p class="banner__hover-text">Lorem ipsum</p>
            <hr class="bottom-banner__separator">
        </section>
    
        <section class="elements-section">
            <ul class="elements-section__list">
            </ul>
        </section>

        <div class="section-card-container"></div>
    </main>

</body>
</html>