
.login-container {
    width: 30em;
    height: 33em;
    background: transparent;
    border: 2px solid #000;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 999;

    background: linear-gradient(to right, #a6a1a1, #c9c5c5, #bab6b6, #b0adad, #a6a1a1);
    background-size: 200% auto;
    animation: shimmer 10s infinite linear;
    
}

@keyframes shimmer {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
  }

.login-container .login-form-box {
    width: 100%;
    padding: 3em;
}

.login-container__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: #000;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: .5em;
    cursor: pointer;
    z-index: 1;

}

.login-container__icon {
    color: white;
    z-index: 2;
}


.login-form-box h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 35px;
}

.login-section {
    position: relative;
    width: 100%;
    height: 4em;
    border-bottom: 2px solid #000;
    margin: 2em 0;
}

.login-section label {
    position: absolute;
    top: 50%;
    left: .2em;
    font-size: 1em;
    transform: translateY(-50%);
    font-weight: 700;
    pointer-events: none;
    transition: 0.5s
}

.login-section input:focus~label,
.login-section input:valid~label {
    top: -.5em;
}

.login-section input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 700;
    padding: 0 3em 0 .5em;
}


.login-section__remember-forgot {
    font-size: .9em;
    font-weight: 700;
    margin: -1em 0 1em;
    display: flex;
    justify-content: space-between;
}

.login-section__remember-forgot label input {
    accent-color: #000;
    margin-right: 1em;
}

.login-section__remember-forgot a {
    text-decoration: none;
    color: #000;
}

.login-section__remember-forgot a:hover {
    text-decoration: underline;
}

.confirmation__log-in-btn {
    width: 100%;
    height: 3em;
    background: #000;
    color: black;
    border: none;
    outline: none;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    background: linear-gradient(to right, #ffd700, #ffbf00, #ffaa00, #ffbf00, #ffd700);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
  }

.confirmation__register {
    font-size: .9em;
    text-align: center;
    font-weight: 600;
    margin: 1.5em 0 1em;
}

.confirmation .confirmation__register-action {
    color: #4d0404;
    text-decoration: none;
    font-weight: 800;
}

.confirmation__register-action:hover {
    text-decoration: underline;
}