* {
    margin: 0;
    padding: 0;

    font-family: 'Brush Script MT', cursive;

}

.character-card{
    display: grid;
    margin: .5em;

    grid-template-rows: auto auto auto;
    grid-template-columns: 20em 20em;

    color: #c9c5c5;

}

.character-profile{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 1;

}

.character-profile__img{
    width: 19.6em;
    height: 25em;

    border: .1em solid black;

    border-radius: 1.5em 0 0 1.5em;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.5);
}

.character-banner{
    display:flex;
    align-items: center;
    justify-content: center;

    grid-column: 2;
    grid-row: 1;

    background-color: #333;

    border-right: .1em solid black;
    border-top: .1em solid black;
    border-left: .1em solid black;

    border-radius: 0 1.5em 0 0;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);

}

.character-banner__name{
    font-size: 100%;

}

.card-basic-content{
    display:flex;
    align-items: center;
    justify-content: space-between;

    grid-column: 2;
    grid-row: 2;

    background-color: #1C3C47;

    border-right: .1em solid black;
    border-left: .1em solid black;

    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);


}

.level{
    position: relative;
    left: 1em;
    top: .2em;
}

.level__caption{
    position: relative;
    left: .9em;
    top: .3em;
}

.level__value{
    position: relative;
    left: 3.8em;
    top: .5em;
}

.info{
    position: relative;
    right: 2.5em;
    top: .4em;

}

.info__line{
    width: 7em;
}

.stats-character {
    display:flex;
    align-items: center;
    justify-content: center;
    
    grid-column: 2;
    grid-row: 3;

    background-color: #1C3C47;

    margin-bottom: .33em;

    border-right: .1em solid black;
    border-bottom: .1em solid black;
    border-left: .1em solid black;

    border-radius: 0 0 1.5em 0;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.5);
}
