body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.main-content {
    display: grid;
    background-color: #646464;
    
    grid-template-rows: 135px;
    grid-template-columns: 2fr 3fr 2fr;
    
}

.about-us {
    color: #333;

    grid-column: 1;
    margin-left: 15px;
}

.about-us__label{
    margin: -5px;
    margin-top: 11px;
}

.about-us__text-container{
    border-left: 2px solid;
    margin-left: 10px;
    padding-left: 10px;
}

.follow-us {
    color:#c9c5c5;
    background-color: #333;
    grid-column: 3;
    margin: 0;
    padding: 0;
}

.follow-us__label{
    margin: -5px;
    margin-left: 8px;
    margin-top: 6px;
}

.follow-us__link {
    text-decoration: none;
    color: inherit;
}