*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.upper-bar{
    display: grid;
    grid-template-rows: 12vh; /* Se queda en vh */
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #767272;
    align-items: center;
}

.upper-bar img {
    padding: 1em; /* Se queda en em */
    width: 4em; /* Se queda en em */
    height: 4em; /* Se queda en em */
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em; /* Se queda en em */
    background: #333;
    height: 7vh; /* Se queda en vh */
}

.main-menu__options{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu__search-bar {
    position: relative;
}

.main-menu__label, .main-menu__glossary-section a {
    text-decoration: none;
    color:#f0f0f0;
    display: block;
    padding: 0.5em; /* Se queda en em */
}

.main-menu__link{
    padding: 0 1em; /* Se queda en em */
}

.main-menu__link, .main-menu__glossary-section{
    float: left;
    font-size: 0.9375em; /* 15px / 16px = 0.9375em */
}

.main-menu__options:after{
    clear: both;
}
.main-menu__options:before,
.main-menu__options:after {
    content: " ";
    display: table;
}

.main-menu__options--glossary {
    position: absolute;
    z-index: 200;
    box-shadow: 2px 2px 0 #767272;
    width: 9.375em; /* 150px / 16px = 9.375em */
    display:none;
}
.main-menu__options--glossary li {
    float: none;
    margin: 0;
}
.main-menu__options--glossary li a {
    border: 1px solid #333;
    padding: 0.9375em 1.375em; /* 15px / 16px = 0.9375em, 22px / 16px = 1.375em */
}
.main-menu__options--glossary li:last-child a {
    border-bottom: none;
}

.main-menu__search-bar-input {
    padding: 0.625em 2.1875em 0.625em 0.9375em; /* 10px / 16px = 0.625em, 35px / 16px = 2.1875em, 15px / 16px = 0.9375em */
    border: none;
    border-radius: 100px;
    outline: none;
}

.main-menu__search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-top: 0.3125em; /* 5px / 16px = 0.3125em */
    margin-left: -2.1875em; /* -35px / 16px = -2.1875em */
}

.main-menu__search-button img {
    position: relative;
    top: 0.2em;
    width: 1.25em; /* 20px / 16px = 1.25em */
    height: 1.25em; 
    object-fit: cover;
}
