* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

}

.topic-display {
    background: #333;
    display: flex;
    flex-direction: column;
    
    margin: 2em;
    border: .01em solid #000;
    border-radius: .3em;
    box-shadow: .5em .5em .1em rgba(0,0,0,0.5);

    color: #c9c5c5;

}

.topic-display__info{
    display: flex;
    height: 10em;
    padding-left: 1em;

}

.topic-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic-display__name-container {
    box-sizing: border-box;
    border: .1em solid black;
    border-radius: .5em;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    background-color: #555;

    width: 80em;
    height: 3em;
    display: flex;
    align-items: center;
    font-weight: 700;

    padding-left: 1em;
}

.topic-display__date {
    font-weight: 700;
    padding-left: 1em;
    padding-top: 1em;
}

.author-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    padding-left: 2.8em;
}

.topic-display__profile-pic{
    height: 7em;
    width: 7em;
    border-radius: .4em;
    border: .1em solid black;

}

.topic-display__text-container {
    display: flex;
    align-items: center;
    height: 30em;
    width: 91em;
    padding-left: 1em;
    padding-bottom: 1%;

    
}

.topic-display__text {
    width: 100%;
    height: 100%;

    padding: .6em;

    box-sizing: border-box;
    border: .1em solid black;
    border-radius: .5em;
    box-shadow: .5em .5em .1em rgba(0, 0, 0, 0.5);

    background-color: #555;
}