<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Display</title>
    <link rel="stylesheet" href="/src/app/forum/components/topic-display/topic-display.css">
</head>
<body>
    <main class="topic-display">
        
        <section class="topic-display__info">
            <section class="topic-details">
                <container class="topic-display__name-container">
                    <p class="topic-display__name">Lorem ipsum</p>
                </container>
                
                <time class="topic-display__date">Published on ...</time>
            </section>

            <section class="author-details">
                <container class="topic-display__image-container">
                    <img class="topic-display__profile-pic" src="/src/assets/images/omnicomteamx_logo.png" alt="">
                </container>
                
                <p class="topic-display__author">Author</p>
            </section>

        </section>
        
        <container class="topic-display__text-container">
            <p class="topic-display__text">Topic text</p>
        </container>

    </main>
    
</body>
</html>